DEVELOPMENT=true
DEBUG=true
LOGGING_LEVEL=debug
LOGGING_ENCODING_LEVEL_ENCODER=capitalcolor
DB_POSTGRES_HOST=localhost
DB_POSTGRES_NAME=...
DB_POSTGRES_PASSWORD=...
DB_POSTGRES_PORT=...
DB_POSTGRES_USER=...
ECOFLOW_ACCESS_KEY=...
ECOFLOW_SECRET_KEY=...
MQTT_FORWARD_ENABLED=true
MQTT_FORWARD_HOST=localhost
